.App {
  text-align: center;
  margin: 100px;
}

.App .btn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.Success {
  background-color: lightgreen;
}

.Primary {
  background-color: lightblue;
}

.{
  background-color: lightblue;
}

.Alert {
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  padding: 20px;
}

.alertBlock{
  margin:40px;
}

.primary{
  background-color: green;
}

.danger{
  background-color: red;
}